In [1]:
import pandas as pd

In [11]:
import math

In [69]:
path_to_dataframe = "Crime_V5.csv"

In [70]:
data1 = pd.read_csv(path_to_dataframe,encoding="utf-8")

In [43]:
print(data1.head())

        ID Case Number                    Date                 Block  \
0  1310456     G000589  01/01/2001 07:07:52 AM  036XX S LAKE PARK AV
1  1312570     G001713  01/01/2001 07:15:00 PM   064XX S WOODLAWN AV
2  1313183     G001158  01/01/2001 11:30:00 AM   012XX N LOCKWOOD AV
3  1313709     G001915  01/01/2001 10:15:00 PM     074XX S COLFAX AV
4  1313934     G001826  01/01/2001 08:20:00 PM   009XX N KEYSTONE AV

                 Primary Type                    Description  \
0                       THEFT                 $500 AND UNDER
1                     BATTERY  AGGRAVATED: OTHER DANG WEAPON
2  OFFENSE INVOLVING CHILDREN                    CHILD ABUSE
3                     BATTERY            AGGRAVATED: HANDGUN
4                     BATTERY                         SIMPLE

  Location Description  Arrest  Domestic  Beat        ...         \
0            APARTMENT   False      True  2122        ...
1            APARTMENT   False      True   314        ...
2            APARTMENT    True     False  2532        ...
3            APARTMENT    True     False   334        ...
4            APARTMENT   False      True  1111        ...

   Community Area   Latitude  Longitude   time    new_date time_category  \
0             NaN  41.829265 -87.606630  07:07  2001-01-01       Morning
1             NaN  41.778048 -87.596294  19:15  2001-01-01       Evening
2             NaN  41.903362 -87.758131  11:30  2001-01-01       Morning
3             NaN  41.760166 -87.561994  22:15  2001-01-01         Night
4             NaN  41.898397 -87.727552  20:20  2001-01-01       Evening

  month category hours Location Category
0   Jan        3     7       Residential
1   Jan        1    19       Residential
2   Jan        1    11       Residential
3   Jan        1    22       Residential
4   Jan        2    20       Residential

[5 rows x 22 columns]

In [2]:
from sklearn.ensemble import RandomForestClassifier

C:\Users\P\Anaconda3\lib\site-packages\sklearn\ensemble\weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

In [3]:
import numpy as np

In [4]:
np.random.seed(0)

In [8]:
data1["Primary Type"]

0                               THEFT
1                             BATTERY
2          OFFENSE INVOLVING CHILDREN
3                             BATTERY
4                             BATTERY
5                     CRIMINAL DAMAGE
6                     CRIMINAL DAMAGE
7                            BURGLARY
8                             BATTERY
9                            BURGLARY
10                            BATTERY
11                            BATTERY
12                              THEFT
13                            BATTERY
14                    CRIMINAL DAMAGE
15                            BATTERY
16                           BURGLARY
17                            BATTERY
18                      OTHER OFFENSE
19                            BATTERY
20                            ASSAULT
21                    CRIMINAL DAMAGE
22                    CRIMINAL DAMAGE
23                              THEFT
24                              THEFT
25                            BATTERY
26                            BATTERY
27                            BATTERY
28                           BURGLARY
29                            ROBBERY
                      ...
6674962                       ASSAULT
6674963                       BATTERY
6674964                       BATTERY
6674965                         THEFT
6674966                     NARCOTICS
6674967            DECEPTIVE PRACTICE
6674968                       ASSAULT
6674969                       ROBBERY
6674970                         THEFT
6674971           CRIM SEXUAL ASSAULT
6674972             CRIMINAL TRESPASS
6674973                         THEFT
6674974                         THEFT
6674975                       BATTERY
6674976                       BATTERY
6674977            DECEPTIVE PRACTICE
6674978                       ROBBERY
6674979                 OTHER OFFENSE
6674980                       BATTERY
6674981               CRIMINAL DAMAGE
6674982                       BATTERY
6674983             CRIMINAL TRESPASS
6674984             CRIMINAL TRESPASS
6674985                         THEFT
6674986                         THEFT
6674987            DECEPTIVE PRACTICE
6674988                         THEFT
6674989                       BATTERY
6674990                         THEFT
6674991                       BATTERY
Name: Primary Type, Length: 6674992, dtype: object

In [44]:
data1['is_train'] = np.random.uniform(0, 1, len(data1)) <= .75

In [18]:
data1.tail()

,ID,Case Number,Date,Block,Primary Type,Description,Location Description,Arrest,Domestic,Beat,...,Latitude,Longitude,time,new_date,time_category,month,category,hours,Location Category,is_train
6674987,11480220,JB480402,10/18/2018 01:15:00 PM,017XX W 18TH ST,DECEPTIVE PRACTICE,THEFT OF LABOR/SERVICES,CTA STATION,True,False,1234,...,41.857753,-87.668785,13:15,2018-10-18,Afternoon,Oct,3,13,Transportation,True
6674988,11481333,JB481950,10/19/2018 02:30:00 PM,005XX N MILWAUKEE AVE,THEFT,POCKET-PICKING,CTA STATION,False,False,1214,...,41.891413,-87.647935,14:30,2018-10-19,Afternoon,Oct,3,14,Transportation,False
6674989,11481458,JB482173,10/19/2018 06:36:00 PM,002XX S STATE ST,BATTERY,SIMPLE,CTA STATION,False,False,113,...,41.878639,-87.627691,18:36,2018-10-19,Evening,Oct,2,18,Transportation,True
6674990,11481370,JB481932,10/19/2018 01:30:00 PM,001XX W LAKE ST,THEFT,POCKET-PICKING,CTA STATION,False,False,122,...,41.885741,-87.631712,13:30,2018-10-19,Afternoon,Oct,3,13,Transportation,False
6674991,11481031,JB481429,10/19/2018 08:20:00 AM,039XX N SHERIDAN RD,BATTERY,SIMPLE,CTA STATION,False,False,1923,...,41.953886,-87.654530,08:20,2018-10-19,Morning,Oct,2,8,Transportation,False

In [72]:
len(data1)

6674992

In [46]:
train, test = data1[data1['is_train']==True], data1[data1['is_train']==False]

In [47]:
len(train)

5006570

In [48]:
len(test)

1668422

In [29]:
features = data1.columns
print(features)

Index(['ID', 'Case Number', 'Date', 'Block', 'Primary Type', 'Description',
       'Location Description', 'Arrest', 'Domestic', 'Beat', 'District',
       'Ward', 'Community Area', 'Latitude', 'Longitude', 'time', 'new_date',
       'time_category', 'month', 'category', 'hours', 'Location Category'],
      dtype='object')

In [30]:
afeatures = [features[9],features[10],features[18],features[20],features[21]]

In [51]:
afeatures

['Beat', 'District', 'month', 'hours', 'Location Category']

In [36]:
y = pd.factorize(train['category'])[0]

In [35]:
len(y)

4768798

In [96]:
clf = RandomForestClassifier(n_estimators = 20, n_jobs=2, random_state=0)

In [97]:
clf.fit(train, y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=20, n_jobs=2,
            oob_score=False, random_state=0, verbose=0, warm_start=False)

In [73]:
data1.columns

Index(['ID', 'Case Number', 'Date', 'Block', 'Primary Type', 'Description',
       'Location Description', 'Arrest', 'Domestic', 'Beat', 'District',
       'Ward', 'Community Area', 'Latitude', 'Longitude', 'time', 'new_date',
       'time_category', 'month', 'category', 'hours', 'Location Category'],
      dtype='object')

In [77]:
newData = data1.drop((['Ward','Location Description','time_category','Arrest','Primary Type','ID','Case Number','Date','Block','Description','Domestic','Beat']) ,axis=1)
newData = newData.drop((['Community Area','Latitude','Longitude','time','new_date', "Location Category"]) ,axis=1)

In [78]:
newData

         District month category  hours
0             2.0   Jan        3      7
1             3.0   Jan        1     19
2            25.0   Jan        1     11
3             3.0   Jan        1     22
4            11.0   Jan        2     20
5            11.0   Jan        3      0
6            14.0   Jan        3      7
7             3.0   Jan        3     11
8             7.0   Jan        2     21
9             6.0   Jan        3     17
10           24.0   Jan        2     14
11            3.0   Jan        2     13
12           15.0   Jan        3      7
13           12.0   Jan        2     17
14            2.0   Jan        3     21
15           10.0   Jan        1     17
16           20.0   Jan        3      1
17           14.0   Jan        2      3
18            4.0   Jan        2     22
19           25.0   Jan        2      5
21           24.0   Jan        3      5
22            2.0   Jan        3      4
23           10.0   Jan        2      0
24            2.0   Jan        3     10
25            3.0   Jan        2      0
26            3.0   Jan        2      4
27           10.0   Jan        2      3
28           14.0   Jan        3     16
29           20.0   Jan        2     16
30           15.0   Jan        1      0
...           ...   ...      ...    ...
6674960       7.0   Oct        2      0
6674961      24.0   Oct        3      1
6674963       7.0   Oct        1     22
6674964       9.0   Oct        1     19
6674965      24.0   Oct        3     15
6674966       5.0   Oct        3     14
6674967       1.0   Oct        3     20
6674969       8.0   Oct        2      6
6674970       1.0   Oct        3     19
6674971      19.0   Oct        2      0
6674972       9.0   Oct        3      5
6674973      12.0   Oct        3     15
6674974       1.0   Oct        3     10
6674975       1.0   Oct        1     23
6674976       9.0   Oct        2     23
6674977      11.0   Oct        3     16
6674978       2.0   Oct        1     12
6674979       7.0   Oct        2     15
6674980       5.0   Oct        2     10
6674981       9.0   Oct        3      7
6674982      15.0   Oct        1     22
6674983       5.0   Oct        3     17
6674984       5.0   Oct        3     17
6674985       1.0   Oct        3     14
6674986       1.0   Oct        3     14
6674987      12.0   Oct        3     13
6674988      12.0   Oct        3     14
6674989       1.0   Oct        2     18
6674990       1.0   Oct        3     13
6674991      19.0   Oct        2      8

[6358259 rows x 4 columns]

In [76]:
data1 = data1.drop(data1[data1['category']=='None'].index)

In [80]:
newData = pd.get_dummies(newData, columns=['hours','District','month'], dummy_na=True)

In [19]:
newData

,category,hours_0.0,hours_1.0,hours_2.0,hours_3.0,hours_4.0,hours_5.0,hours_6.0,hours_7.0,hours_8.0,...,month_Feb,month_Jan,month_Jul,month_Jun,month_Mar,month_May,month_Nov,month_Oct,month_Sep,month_nan
0,3,0,0,0,0,0,0,0,1,0,...,0,1,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
4,2,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
5,3,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
6,3,0,0,0,0,0,0,0,1,0,...,0,1,0,0,0,0,0,0,0,0
7,3,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
8,2,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
9,3,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
10,2,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
11,2,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
12,3,0,0,0,0,0,0,0,1,0,...,0,1,0,0,0,0,0,0,0,0
13,2,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
14,3,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
15,1,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
16,3,0,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
17,2,0,0,0,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
18,2,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
19,2,0,0,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0
21,3,0,0,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0
22,3,0,0,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
23,2,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
24,3,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
25,2,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
26,2,0,0,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
27,2,0,0,0,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
28,3,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
29,2,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
30,1,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6674960,2,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
6674961,3,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
6674963,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
6674964,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
6674965,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
6674966,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
6674967,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
6674969,2,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
6674970,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
6674971,2,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
6674972,3,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
6674973,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
6674974,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
6674975,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
6674976,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
6674977,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
6674978,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
6674979,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
6674980,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
6674981,3,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
6674982,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
6674983,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
6674984,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
6674985,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
6674986,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
6674987,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
6674988,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
6674989,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
6674990,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
6674991,2,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0

In [82]:
train, test = newData[newData['is_train']==True], newData[newData['is_train']==False]

In [81]:
newData['is_train'] = np.random.uniform(0, 1, len(data1)) <= .75

In [23]:
len(train)

4768798

In [24]:
len(test)

1589461

In [83]:
y = pd.factorize(train['category'])[0]

In [84]:
answers = pd.factorize(test['category'])[0]

In [85]:
train = train.drop(['is_train'], axis=1)

In [86]:
test = test.drop(['is_train'], axis=1)

In [87]:
train = train.drop(['category'], axis=1)

In [88]:
test = test.drop(['category'], axis=1)

In [89]:
test.head()

,hours_0.0,hours_1.0,hours_2.0,hours_3.0,hours_4.0,hours_5.0,hours_6.0,hours_7.0,hours_8.0,hours_9.0,...,month_Feb,month_Jan,month_Jul,month_Jun,month_Mar,month_May,month_Nov,month_Oct,month_Sep,month_nan
7,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
10,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
13,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
17,0,0,0,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [45]:
answers = pd.factorize(test['category'])[0]

In [98]:
predictions = clf.predict(test)

In [99]:
predictions[0:10]

array([0, 0, 0, 0, 2, 0, 0, 0, 2, 0], dtype=int64)

In [100]:
answers[0:20]

array([0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 2, 0, 0, 1, 0, 1, 1],
      dtype=int64)

In [57]:
len(answers)

1589461

In [63]:
score = zip(answers, predictions)  
total = 0
correct = 0
for i in score:
    if i[0] == i[1]:
        correct += 1
    total += 1
print(correct/total)
#WITH CATEGORY

0.41355465783683903

In [95]:
score = zip(answers, predictions)  
total = 0
correct = 0
for i in score:
    if i[0] == i[1]:
        correct += 1
    total += 1
print(correct/total)
#AFTER REMOVING LOCATION CATEGORY

0.4757983995832549

In [101]:
score = zip(answers, predictions)  
total = 0
correct = 0
for i in score:
    if i[0] == i[1]:
        correct += 1
    total += 1
print(correct/total)
#INCREASED NUMBER OF ESTIMATORS to 20

0.475475648663289

In [112]:
path_to_dataframe = "Crime_V5.csv"
data1 = pd.read_csv(path_to_dataframe,encoding="utf-8")

In [113]:
data1 = data1.drop(data1[data1['new_date'] < '2006-01-01'].index)
data1 = data1.drop(data1[data1['category']=='None'].index)
# data1 = data1.drop(data1[data1['Location Category']=='None'].index)
newData = data1.drop((['Ward','Location Description','time_category','Arrest','Primary Type','ID','Case Number','Date','Block','Description','Domestic', "Beat"]) ,axis=1)
# newData = data1.drop((['Ward', 'Location Description','time_category','Arrest','Primary Type','ID','Case Number','Date','Block','Description','Domestic', "Beat"]) ,axis=1)
newData = newData.drop((['Community Area','Latitude','Longitude','time','new_date', "Location Category"]) ,axis=1)
# newData = newData.drop((['Latitude','Longitude','time','new_date','Community Area']) ,axis=1)

In [114]:


newData = pd.get_dummies(newData, columns=['hours','District','month'], dummy_na=True)

newData['is_train'] = np.random.uniform(0, 1, len(data1)) <= .80
train, test = newData[newData['is_train']==True], newData[newData['is_train']==False]

In [115]:
y = pd.factorize(train['category'])[0]
answers = pd.factorize(test['category'])[0]
train = train.drop(['is_train'], axis=1)
test = test.drop(['is_train'], axis=1)
train = train.drop(['category'], axis=1)
test = test.drop(['category'], axis=1)

In [116]:
clf = RandomForestClassifier(n_estimators = 25, n_jobs=2, random_state=0)

In [117]:
clf.fit(train, y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=25, n_jobs=2,
            oob_score=False, random_state=0, verbose=0, warm_start=False)

In [118]:
predictions = clf.predict(test)

In [119]:
score = zip(answers, predictions)  
total = 0
correct = 0
for i in score:
    if i[0] == i[1]:
        correct += 1
    total += 1
print(correct/total)
#WITH BEATS

0.1543052853249502

In [162]:
score = zip(answers, predictions)  
total = 0
correct = 0
for i in score:
    if i[0] == i[1]:
        correct += 1
    total += 1
print(correct/total)
#ONLY AFTER 2006 no location cate

0.5412014286683532

In [170]:
score = zip(answers, predictions)  
total = 0
correct = 0
for i in score:
    if i[0] == i[1]:
        correct += 1
    total += 1
print(correct/total)
#ONLY AFTER 2006 With location category 10 estimators

0.5662025000545176

In [178]:
score = zip(answers, predictions)  
total = 0
correct = 0
for i in score:
    if i[0] == i[1]:
        correct += 1
    total += 1
print(correct/total)
#With beat after 2006 10 estimators

0.22498475713027571

In [186]:
score = zip(answers, predictions)  
total = 0
correct = 0
for i in score:
    if i[0] == i[1]:
        correct += 1
    total += 1
print(correct/total)
#ONLY AFTER 2006 Without location category 10 estimators

0.5421366045736786

In [194]:
score = zip(answers, predictions)  
total = 0
correct = 0
for i in score:
    if i[0] == i[1]:
        correct += 1
    total += 1
print(correct/total)
#With beat after 2006 10 estimators with domestic

0.4369890421003815

In [204]:
score = zip(answers, predictions)  
total = 0
correct = 0
for i in score:
    if i[0] == i[1]:
        correct += 1
    total += 1
print(correct/total)

#'hours','District','month','Domestic' 10 estimators

0.5001205489277203

In [212]:
score = zip(answers, predictions)  
total = 0
correct = 0
for i in score:
    if i[0] == i[1]:
        correct += 1
    total += 1
print(correct/total)
#ONLY AFTER 2006 With location category 20 estimators

0.5671620593087324

In [28]:
score = zip(answers, predictions)  
total = 0
correct = 0
for i in score:
    if i[0] == i[1]:
        correct += 1
    total += 1
print(correct/total)
#clf = RandomForestClassifier(n_estimators = 10, n_jobs=2, max_features=3,random_state=0)
#['hours','District','month', "Location Category",'Community Area','Arrest','Domestic']
# < 2010

0.31147099592137933

In [32]:
score = zip(answers, predictions)  
total = 0
correct = 0
for i in score:
    if i[0] == i[1]:
        correct += 1
    total += 1
print(correct/total)
#clf = RandomForestClassifier(n_estimators = 10, n_jobs=2, max_features=2,random_state=0)
#['hours','District','month', "Location Category",'Community Area','Arrest','Domestic']
# < 2010

0.311704344877791

In [40]:
score = zip(answers, predictions)  
total = 0
correct = 0
for i in score:
    if i[0] == i[1]:
        correct += 1
    total += 1
print(correct/total)
#clf = RandomForestClassifier(n_estimators = 10, n_jobs=2, max_features=2,random_state=0)
#['hours','District','month', "Location Category",'Community Area','Arrest','Domestic']
# < 2006

0.2597303753769064

In [48]:
score = zip(answers, predictions)  
total = 0
correct = 0
for i in score:
    if i[0] == i[1]:
        correct += 1
    total += 1
print(correct/total)
#clf = RandomForestClassifier(n_estimators = 10, n_jobs=2, max_features=4,random_state=0)
#['hours','District','month', "Location Category"]
# < 2008

0.2455681098719135

In [53]:
score = zip(answers, predictions)  
total = 0
correct = 0
for i in score:
    if i[0] == i[1]:
        correct += 1
    total += 1
print(correct/total)
#(n_estimators = 50, n_jobs=2, max_features=10,random_state=0)
#['hours','District','month', "Location Category"]
# < 2008

0.24553158330492378

In [54]:
len(train.columns)

75

In [58]:
score = zip(answers, predictions)  
total = 0
correct = 0
for i in score:
    if i[0] == i[1]:
        correct += 1
    total += 1
print(correct/total)
#(n_estimators = 100, n_jobs=2,random_state=0)
#['hours','District','month', "Location Category"]
# < 2008

0.24565790434909657

In [60]:
len(test)

657056

In [69]:
score = zip(answers, predictions)  
total = 0
correct = 0
for i in score:
    if i[0] == i[1]:
        correct += 1
    total += 1
print(correct/total)
#(n_estimators = 100, n_jobs=2,random_state=0)
#['hours','District','month', "Location Category"]
# < 2008

0.19221862396258216

In [77]:
score = zip(answers, predictions)  
total = 0
correct = 0
for i in score:
    if i[0] == i[1]:
        correct += 1
    total += 1
print(correct/total)
#clf = RandomForestClassifier(n_estimators = 100, n_jobs=2, random_state=0)
#['hours','District','month']
# < 2008

0.32827769394766876

In [82]:
score = zip(answers, predictions)  
total = 0
correct = 0
for i in score:
    if i[0] == i[1]:
        correct += 1
    total += 1
print(correct/total)
#clf = RandomForestClassifier(n_estimators = 10, n_jobs=2, random_state=0)
#['hours','District','month']
# < 2008

0.32874724386356

In [95]:
score = zip(answers, predictions)  
total = 0
correct = 0
for i in score:
    if i[0] == i[1]:
        correct += 1
    total += 1
print(correct/total)
#clf = RandomForestClassifier(n_estimators = 10, n_jobs=2, random_state=0)
#['hours','District','month']
# < 2008

0.5420148372445117

In [103]:
score = zip(answers, predictions)  
total = 0
correct = 0
for i in score:
    if i[0] == i[1]:
        correct += 1
    total += 1
print(correct/total)
#clf = RandomForestClassifier(n_estimators = 100, n_jobs=2, random_state=0)
#['hours','District','month']
# < 2006

0.32934560042091837

In [107]:
score = zip(answers, predictions)  
total = 0
correct = 0
for i in score:
    if i[0] == i[1]:
        correct += 1
    total += 1
print(correct/total)
#clf = RandomForestClassifier(n_estimators = 25, n_jobs=2, random_state=0)
#['hours','District','month']
# < 2006

0.3290898003668488

In [119]:
score = zip(answers, predictions)  
total = 0
correct = 0
for i in score:
    if i[0] == i[1]:
        correct += 1
    total += 1
print(correct/total)
#clf = RandomForestClassifier(n_estimators = 25, n_jobs=2, random_state=0)
#['hours','District','month']
# < 2006 REAL

0.13697308955205797